/**********Mobile-first styles**********/
/**********Media Queries found below**********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url('./images/catcher-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Roboto, sans;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 5px;
  text-shadow: 1px 1px 2px rgb(206, 17, 65);
}

h1 {
  font-size: 1.5em;
}

.quiz_header, main, .question_tracker {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
}

.quiz_header {
  text-align: center;
  padding: 5px;
  width: 280px;
}

main {
  margin-top: 5px;
  width: 280px;
  height: 350px;
  text-align: center;
}

fieldset {
  margin-top: 15%;
  height: 300px;
  position: relative;
  text-shadow: 1px 1px 2px rgb(206, 17, 65);
}

.welcome_form legend {
  margin-bottom: 20px;
}

.welcome_form button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -75px;
  font-size: 1.2em;
  font-weight: 600;
}

button {
  width: 150px;
  height: 35px;
  border-radius: 15px;
  color: rgb(19, 39, 79);
  font-size: 0.9em;
  background-color: rgb(206,17,65);
  font-weight: 600;
}

.question_container {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.question_container > form {
  margin-top: 20px;
}

.question_container button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.question_container img {
  height: 200px;
  width: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.hidden {
  display: none;
}

fieldset {
  border: none;
  padding: 0;
}

.quit_game {
  font-size: 1.2em;
}

.question_tracker {
  width: 280px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.question_tracker li {
  text-align: center;
  text-shadow: 1px 1px 2px rgb(206, 17, 65);
}

/**********Media Queries**********/

/**********Tablets**********/

@media screen and (min-width: 720px) {
  .quiz_header {
    width: 450px;
  } 
  
  main {
    width: 450px;
    height: 450px;
  }

  fieldset {
    margin-top: 5%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .welcome_form fieldset,
  .question fieldset {
    padding: 50px;
  }

  button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .question_container img {
    height: 300px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .question_tracker {
    width: 450px;
    justify-content: space-around;
  }

  .welcome_form button {
    margin-left: -150px;
  }

}

/**********Desktops**********/

@media screen and (min-width: 960px) {
  main {
    height: 600px;
  } 

  fieldset {
    height: 500px;
  }

  .question_container img {
    height: 425px;
    width: 350px;
  }

  button {
    background-image: linear-gradient(rgba(206,17,65), #fff);
    height: 50px;
  }

  button:hover {
    cursor: pointer;
  }
  
  button:focus,
  button:hover {
    border: 3px solid #fff;
    background-image: linear-gradient(to right, rgb(19, 39, 79), #fff);
    transition: all 0.5s;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(206, 17, 65);
  }
}