* {
  box-sizing: border-box;
}

html {
  background-image: url("https://images.unsplash.com/photo-1503766587563-7cf366650cd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Roboto, sans;
}

body {
  margin-top: 10px;
}

header {
  width: 200px;
  word-wrap: normal;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  font-family: sans;
  border: 1px solid white;
  border-radius: 5px;
}

main {
  margin-top: 10px;
  text-align: center;
}

.container {
  width: 200px;
  padding: 10px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.quiz_start {
  margin-top: -150px;
}

.quiz_start,
.question,
.answer,
.answer_overlay {
  font-size: 0.8em;
  width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  word-wrap: normal;
  color: white;
  text-shadow: 3px 5px 2px #474747;
}

.quiz_start,
.question,
.answer,
.answer_overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.answer_overlay img {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  align-self: center;
  margin-bottom: 5px;
}

.js-continue {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* This is separated from answer as I intend the final verison
  to have separate colors between classes */
/* .quiz_start {
  background-color: white;
}

.question {
  background-color: white;
}

.answer {
  background-color: white;
} */

.answer:hover {
  cursor: pointer;
}

/******jQuery Classes*****/
.js-hidden {
  display: none;
}

/******Media Queries******/

/******Phones******/
@media screen and (min-width: 320px) {
  header {
    width: 300px;
  }

  .container {
    width: 300px;
  }

  .quiz_start,
  .question,
  .answer {
    font-size: 1em;
  }
}

/***** Tablets *****/
@media screen and (min-width: 768px) {
  body {
    margin-top: 100px;
  }

  header {
    width: 600px;
  }

  .container {
    width: 600px;
  }
}

/*****Full Screen******/
@media screen and (min-width: 960px) {
  header {
    width: 800px;
  }

  .container {
    width: 800px;
  }
}
